body {
    background-color: #eaf3f8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card container */
.card {
    background-color: #8ecae6;
    padding: 30px;
    border-radius: 10px;
    width: 280px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card h1 {
    margin-bottom: 10px;
}

.card p {
    color: white;
    margin-bottom: 25px;
    font-weight: bold;
}

/* Buttons */
.button {
    display: block;
    background-color: #2196f3;
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #1976d2;
}
/* Enroll card layout */
.form-card {
    background-color: #8ecae6;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.form-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.select-box {
    width: 45%;
}

select {
    width: 100%;
    height: 150px;
}

.submit-btn {
    display: block;
    margin: 20px auto 0 auto;
    background-color: #2196f3;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #1976d2;
}

