<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:5432/postgres</property>
        <property name="hibernate.connection.username">postgres.gvxugewnjoozlyepwtqa</property>
        <property name="hibernate.connection.password">Alyad118...</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <mapping class="com.vtschool2526.model.Cours"/>
        <mapping class="com.vtschool2526.model.Enrollment"/>
        <mapping class="com.vtschool2526.model.Score"/>
        <mapping class="com.vtschool2526.model.Student"/>
        <mapping class="com.vtschool2526.model.SubjectCours"/>
        <mapping class="com.vtschool2526.model.Subject"/>
    </session-factory>
</hibernate-configuration>
