<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit profile</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="form-card">

    <h2>Edit profile</h2>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>
    <p th:if="${successMessage}" th:text="${successMessage}" style="color:green;"></p>

    <form method="post"
          th:object="${student}"
          th:action="@{/student/edit}">

        <label>ID Card:</label>
        <input type="text"
               th:field="*{idcard}"
               readonly />

        <br><br>

        <label>First Name:</label>
        <input type="text"
               th:field="*{firstname}" />

        <p th:if="${#fields.hasErrors('firstname')}"
           th:errors="*{firstname}"
           style="color:red;"></p>

        <br><br>

        <label>Last Name:</label>
        <input type="text"
               th:field="*{lastname}" />

        <p th:if="${#fields.hasErrors('lastname')}"
           th:errors="*{lastname}"
           style="color:red;"></p>

        <br><br>

        <label>Email:</label>
        <input type="email"
               th:field="*{email}" />

        <p th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}"
           style="color:red;"></p>

        <br><br>

        <label>Phone:</label>
        <input type="text"
               th:field="*{phone}" />

        <p th:if="${#fields.hasErrors('phone')}"
           th:errors="*{phone}"
           style="color:red;"></p>

        <br><br>

        <button type="submit" class="submit-btn">
            Save
        </button>

        <br>
        <a th:href="@{/student}">Back to menu</a>

    </form>

</div>

</body>
</html>